@page "/{*data}"
@inject IRepository<Member> repository;
@inject ILogger<Index> logger;

@if(members is not null) {
    @foreach (var member in members)
    {
        <div>
            <input @bind-value=member.Name type="text"/>
        </div>
    }
}
<button @onclick=Save >Save</button>
<button @onclick=Add >Add</button>

@code {
    [Parameter]
    public string data {get;set;}
    private IEnumerable<Member> members;

    protected override async Task OnInitializedAsync() {
        logger.LogInformation("initializing with", data);
        repository.compressedData = data;
        members = await repository.GetAll();
    }

    private async void Add(){
        await repository.Add(new Member() {Name = "new"});
    }

    private async void Save(){
        await repository.Save(members);
    }

} 